<div class="tm-container-outer" id="tm-section-3">
  <ul class="nav nav-pills tm-tabs-links">
    <li class="tm-tab-link-li">
      <a href="#1a" data-toggle="tab" class="tm-tab-link active">
        <img src="assets/riad-kasbah-marrakech.jpg" alt="Image" class="img-fluid">
        North America
      </a>
    </li>
    <li class="tm-tab-link-li">
      <a href="#2a" data-toggle="tab" class="tm-tab-link">
        <img src="assets/riad-kasbah-marrakech.jpg" alt="Image" class="img-fluid">
        South America
      </a>
    </li>
    <li class="tm-tab-link-li">
      <a href="#3a" data-toggle="tab" class="tm-tab-link">
        <img src="assets/riad-kasbah-marrakech.jpg" alt="Image" class="img-fluid">
        Europe
      </a>
    </li>
    <li class="tm-tab-link-li">
      <a href="#4a" data-toggle="tab" class="tm-tab-link active"><!-- Current Active Tab -->
        <img src="assets/riad-kasbah-marrakech.jpg" alt="Image" class="img-fluid">
        Asia
      </a>
    </li>
    <li class="tm-tab-link-li">
      <a href="#5a" data-toggle="tab" class="tm-tab-link">
        <img src="assets/riad-kasbah-marrakech.jpg" alt="Image" class="img-fluid">
        Africa
      </a>
    </li>
    <li class="tm-tab-link-li">
      <a href="#6a" data-toggle="tab" class="tm-tab-link">
        <img src="assets/riad-kasbah-marrakech.jpg" alt="Image" class="img-fluid">
        Australia
      </a>
    </li>
    <li class="tm-tab-link-li">
      <a href="#tab-1" data-toggle="tab" class="tm-tab-link active">
        <img src="assets/riad-kasbah-marrakech.jpg" alt="Image" class="img-fluid">
        North America
      </a>
    </li>
  </ul>
  <div class="tab-content clearfix">

    <!-- Tab 1 -->
    <div class="tab-pane fade show active" id="tab-1">
      <div class="tm-recommended-place-wrap">
        <div class="tm-recommended-place">
          <img src="assets/riad-kasbah-marrakech.jpg" alt="Image" class="img-fluid tm-recommended-img">
          <div class="tm-recommended-description-box">
            <h3 class="tm-recommended-title">North Garden Resort</h3>
            <p class="tm-text-highlight">One North</p>
            <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros
              lacus sit amet lectus. Donec blandit luctus dictum...</p>
          </div>
          <a href="#" class="tm-recommended-price-box">
            <p class="tm-recommended-price">$110</p>
            <p class="tm-recommended-price-link">Continue Reading</p>
          </a>
        </div>

        <div class="tm-recommended-place">
          <img src="assets/riad-kasbah-marrakech.jpg" alt="Image" class="img-fluid tm-recommended-img">
          <div class="tm-recommended-description-box">
            <h3 class="tm-recommended-title">Felis nec dignissim</h3>
            <p class="tm-text-highlight">Two North</p>
            <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros
              lacus sit amet lectus. Donec blandit luctus dictum...</p>
          </div>
          <div id="preload-hover-img"></div>
          <a href="#" class="tm-recommended-price-box">
            <p class="tm-recommended-price">$120</p>
            <p class="tm-recommended-price-link">Continue Reading</p>
          </a>
        </div>

        <div class="tm-recommended-place">
          <img src="assets/riad-kasbah-marrakech.jpg" alt="Image" class="img-fluid tm-recommended-img">
          <div class="tm-recommended-description-box">
            <h3 class="tm-recommended-title">Sed fermentum justo</h3>
            <p class="tm-text-highlight">Three North</p>
            <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros
              lacus sit amet lectus. Donec blandit luctus dictum...</p>
          </div>
          <a href="#" class="tm-recommended-price-box">
            <p class="tm-recommended-price">$130</p>
            <p class="tm-recommended-price-link">Continue Reading</p>
          </a>
        </div>

        <div class="tm-recommended-place">
          <img src="assets/riad-kasbah-marrakech.jpg" alt="Image" class="img-fluid tm-recommended-img">
          <div class="tm-recommended-description-box">
            <h3 class="tm-recommended-title">Maecenas ultricies neque</h3>
            <p class="tm-text-highlight">Four North</p>
            <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros
              lacus sit amet lectus. Donec blandit luctus dictum...</p>
          </div>
          <a href="#" class="tm-recommended-price-box">
            <p class="tm-recommended-price">$140</p>
            <p class="tm-recommended-price-link">Continue Reading</p>
          </a>
        </div>
      </div>

      <a href="#" class="text-uppercase btn-primary tm-btn mx-auto tm-d-table">Show More Places</a>
    </div>
     <!-- tab-pane -->
