<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div
    class="container position-relative text-center text-lg-start"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <div class="row mt-5">
      <div class="col-lg-8">
        <h1>Welcome to <span>Restaurantly</span></h1>
        <h2>Welcome to the Flavorful World of Moroccan Cuisine!</h2>

        <div class="btns">
          <a href="#gallery" class="btn-menu animated fadeInUp scrollto"
            >Our Restaurant</a
          >
          <a href="#book-a-table" class="btn-book animated fadeInUp scrollto"
            >Book a Table</a
          >
        </div>
      </div>
      <div
        class="col-lg-4 d-flex align-items-center justify-content-center position-relative"
        data-aos="zoom-in"
        data-aos-delay="200"
      ></div>
    </div>
  </div>
</section>
<!-- End Hero -->
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-6 order-1 order-lg-2"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="about-img">
            <img src="assets/gallery/about copy.jpg" alt="" />
          </div>
        </div>
        <div
          class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content text-white"
        >
          <h3>
            La cuisine marocaine est une cuisine méditerranéenne caractérisée
            par sa variété de plats .
          </h3>
          <p class="fst-italic">
            La cuisine marocaine est réputée dans le monde entier pour son
            mélange délicieux de saveurs exotiques et son utilisation ingénieuse
            d’épices aromatiques. Mais derrière ces plats appétissants se cache
            une histoire culinaire riche et fascinante. Depuis des siècles, la
            gastronomie marocaine a été influencée par diverses cultures et
            traditions, créant ainsi une cuisine unique et diversifiée. Dans cet
            article, nous vous invitons à plonger dans l’histoire de la
            gastronomie marocaine et à découvrir les influences qui ont façonné
            les plats emblématiques que nous connaissons aujourd’hui.
          </p>

          <p>
            La cuisine marocaine est imprégnée d'une riche histoire et de
            traditions ancestrales, et elle offre une palette de saveurs
            exotiques qui séduisent les amateurs de cuisine du monde entier. Son
            mélange unique d'épices, d'ingrédients frais et de techniques de
            cuisson traditionnelles en font une expérience culinaire
            inoubliable. La cuisine marocaine est réputée pour sa diversité, ses
            saveurs riches et ses ingrédients aromatiques qui sont soigneusement
            combinés pour créer des plats délicieux et colorés.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Why Us</h2>
        <p>Why Choose Our Restaurant</p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>01</span>
            <h4>Le mélange des saveurs</h4>
            <p>
              La cuisine marocaine fait appel à une multiplicité de goûts où la
              frontière entre le sucré et le salé parait bien moins marquée
              qu’en occident. Le mélange des saveurs produit une douceur toute
              marocaine
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>02</span>
            <h4>Combinaison sucré-salé :</h4>
            <p>
              L'équilibre subtil entre le sucré et le salé est souvent présent
              dans des plats comme la pastilla, où la viande est associée à des
              ingrédients sucrés tels que les amandes et les fruits secs,
              mélangés avec des épices.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span>03</span>
            <h4>Influence culturelle :</h4>
            <p>
              La cuisine marocaine reflète l'histoire et les influences
              culturelles diverses du pays, allant des traditions berbères aux
              influences arabes, juives, africaines et méditerranéennes
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
  <!-- ======= Specials Section ======= -->
  <section id="specials" class="specials">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Specials</h2>
        <p>Check Our Specials</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a
                class="nav-link active show"
                data-bs-toggle="tab"
                href="#tab-1"
              >
                Couscous</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Harira</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Tajine</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4"
                >Pastilla.</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5"
                >Chebakia</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Couscous</h3>
                  <p class="fst-italic">
                    Le couscous marocain est une spécialité culinaire du
                    Maghreb. Il représente un mélange simplement de deux plats
                    principaux. Il s'agit de la semoule de blé cuite dans un
                    couscoussier à la vapeur et d'un corps gras qui peut être
                    soit du beurre ou généralement de l'huile d'olive.
                  </p>
                  <p></p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/gallery/couscous.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Harira</h3>
                  <p class="fst-italic">
                    La harira (en arabe : حْرِيرَة, ḥrīra, ⵜⴰⵀⵔⵉⵔⵜ en berbère,
                    également appelée hrira en Algérie, bufertuna à Rabat) est
                    une soupe traditionnelle du Maroc et de l'ouest de l'Algérie
                    d'origine andalouse. Elle est constituée de tomates, de
                    légumes, de viande et d'oignon.
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/gallery/harira.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                  <p class="fst-italic">
                    Un tajine ou tagine ou tadjine (طاجين, en arabe ;) issu de
                    l'arabe tâjîn1 , et du grec ancien, τήγανον / têganon, le
                    tajine est un plat Maghrebin, nommé d'après la terracotta
                    dans laquelle il est cuit. C'est une spécialité reconnue
                    dans tout le monde arabe, bien que la préparation, les
                    ingrédients et les épices utilisés diffèrent selon les
                    régions
                  </p>
                  <p>
                    Un tajine ou tagine ou tadjine (طاجين, en arabe ;) issu de
                    l'arabe tâjîn1 , et du grec ancien, τήγανον / têganon, le
                    tajine est un plat Maghrebin, nommé d'après la terracotta
                    dans laquelle il est cuit. C'est une spécialité reconnue
                    dans tout le monde arabe, bien que la préparation, les
                    ingrédients et les épices utilisés diffèrent selon les
                    régions
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/gallery/Tajine.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>
                    Fuga dolores inventore laboriosam ut est accusamus
                    laboriosam dolore
                  </h3>
                  <p class="fst-italic">
                    Préparation à base de pâte feuilletée, fourrée de morceaux
                    de pigeon, de raisins, d'amandes et cuite au four.
                    (Spécialité marocaine.)
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/gallery/Pastilla.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>
                    Est eveniet ipsam sindera pad rone matrelat sando reda
                  </h3>
                  <p class="fst-italic">
                    La chebakia (ou chbakia), appelée également griwech (aussi
                    griouech ou griwèche) en Algérie ou m'kharqa (ou l'mkharqa)
                    au Maroc, est une pâtisserie en forme roulée originaire du
                    Maghreb à base de farine, matière grasse, miel et eau de
                    fleur d'oranger.
                  </p>
                  <p>
                    Exercitationem nostrum omnis. Ut reiciendis repudiandae
                    minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum
                    quia odit vero atque qui quibusdam amet. Occaecati sed est
                    sint aut vitae molestiae voluptate vel
                  </p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img
                    src="assets/gallery/Chebakia.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Specials Section -->

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Gallery</h2>
        <p>Some photos from Our Restaurant</p>
      </div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div
        class="d-flex gap flex-wrap justify-content-center align-items-center"
      >
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-1.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img src="assets/gallery/gallery1.jpg" alt="" class="img-fluid" />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-2.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img src="assets/gallery/gallery2.jpg" alt="" class="img-fluid" />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-3.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img src="assets/gallery/gallery3.jpg" alt="" class="img-fluid" />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-6jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img src="assets/gallery/gallery6.jpg" alt="" class="img-fluid" />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-5.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="assets/gallery/gallery5.webp"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-4.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img src="assets/gallery/gallery4.jpg" alt="" class="img-fluid" />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-7.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img src="assets/gallery/gallery7.jpg" alt="" class="img-fluid" />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-8.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img src="assets/gallery/gallery8.jpg" alt="" class="img-fluid" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Gallery Section -->
</main>
