
<!-- matches.component.html -->
<!-- app.component.html -->
<!-- app.component.html -->
<!-- app.component.html -->


<div class="row">
  <h2>Matches</h2>
  <div class="col-md-6 mb-3" *ngFor="let match of matchesGroup1">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <img src="assets/drapeau/Argenti.png" alt="{{ match.team1 }} flag" class="mr-2" style="width: 30px; height: 20px;">
            {{ match.team1 }}
          </div>
          <div>
            {{ match.score }}
          </div>
          <div>
            <img src="assets/drapeau/france.png" alt="{{ match.team2 }} flag" class="mr-2" style="width: 20px; height: 15px;">
            {{ match.team2 }}
          </div>
        </div>

        <p class="card-text">
          Date: {{ match.date }}<br>
          Time: {{ match.time }}<br>
          Stadium: {{ match.stadium }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3" *ngFor="let match of matchesGroup2">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <img src="assets/drapeau/morocco.png" alt="{{ match.team3 }} flag" class="mr-2" style="width: 30px; height: 20px;">
            {{ match.team3 }}
          </div>
          <div>
            {{ match.score }}
          </div>
          <div>
            <img src="assets/drapeau/croatia.png" alt="{{ match.team4 }} flag" class="mr-2" style="width: 20px; height: 15px;">
            {{ match.team4 }}
          </div>
        </div>

        <p class="card-text">
          Date: {{ match.date }}<br>
          Time: {{ match.time }}<br>
          Stadium: {{ match.stadium }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3" *ngFor="let match of matchesGroup3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <img src="assets/drapeau/morocco.png" alt="{{ match.team3 }} flag" class="mr-2" style="width: 30px; height: 20px;">
            {{ match.team3 }}
          </div>
          <div>
            {{ match.score }}
          </div>
          <div>
            <img src="assets/drapeau/croatia.png" alt="{{ match.team4 }} flag" class="mr-2" style="width: 20px; height: 15px;">
            {{ match.team4 }}
          </div>
        </div>

        <p class="card-text">
          Date: {{ match.date }}<br>
          Time: {{ match.time }}<br>
          Stadium: {{ match.stadium }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3" *ngFor="let match of matchesGroup4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <img src="assets/drapeau/morocco.png" alt="{{ match.team3 }} flag" class="mr-2" style="width: 30px; height: 20px;">
            {{ match.team3 }}
          </div>
          <div>
            {{ match.score }}
          </div>
          <div>
            <img src="assets/drapeau/croatia.png" alt="{{ match.team4 }} flag" class="mr-2" style="width: 20px; height: 15px;">
            {{ match.team4 }}
          </div>
        </div>

        <p class="card-text">
          Date: {{ match.date }}<br>
          Time: {{ match.time }}<br>
          Stadium: {{ match.stadium }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3" *ngFor="let match of matchesGroup5">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <img src="assets/drapeau/morocco.png" alt="{{ match.team3 }} flag" class="mr-2" style="width: 30px; height: 20px;">
            {{ match.team3 }}
          </div>
          <div>
            {{ match.score }}
          </div>
          <div>
            <img src="assets/drapeau/croatia.png" alt="{{ match.team4 }} flag" class="mr-2" style="width: 20px; height: 15px;">
            {{ match.team4 }}
          </div>
        </div>

        <p class="card-text">
          Date: {{ match.date }}<br>
          Time: {{ match.time }}<br>
          Stadium: {{ match.stadium }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3" *ngFor="let match of matchesGroup6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <img src="assets/drapeau/morocco.png" alt="{{ match.team3 }} flag" class="mr-2" style="width: 30px; height: 20px;">
            {{ match.team3 }}
          </div>
          <div>
            {{ match.score }}
          </div>
          <div>
            <img src="assets/drapeau/croatia.png" alt="{{ match.team4 }} flag" class="mr-2" style="width: 20px; height: 15px;">
            {{ match.team4 }}
          </div>
        </div>

        <p class="card-text">
          Date: {{ match.date }}<br>
          Time: {{ match.time }}<br>
          Stadium: {{ match.stadium }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3" *ngFor="let match of matchesGroup7">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <img src="assets/drapeau/morocco.png" alt="{{ match.team3 }} flag" class="mr-2" style="width: 30px; height: 20px;">
            {{ match.team3 }}
          </div>
          <div>
            {{ match.score }}
          </div>
          <div>
            <img src="assets/drapeau/croatia.png" alt="{{ match.team4 }} flag" class="mr-2" style="width: 20px; height: 15px;">
            {{ match.team4 }}
          </div>
        </div>

        <p class="card-text">
          Date: {{ match.date }}<br>
          Time: {{ match.time }}<br>
          Stadium: {{ match.stadium }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3" *ngFor="let match of matchesGroup8">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            <img src="assets/drapeau/morocco.png" alt="{{ match.team3 }} flag" class="mr-2" style="width: 30px; height: 20px;">
            {{ match.team3 }}
          </div>
          <div>
            {{ match.score }}
          </div>
          <div>
            <img src="assets/drapeau/croatia.png" alt="{{ match.team4 }} flag" class="mr-2" style="width: 20px; height: 15px;">
            {{ match.team4 }}
          </div>
        </div>

        <p class="card-text">
          Date: {{ match.date }}<br>
          Time: {{ match.time }}<br>
          Stadium: {{ match.stadium }}
        </p>
      </div>
    </div>
  </div>
</div>

