
/* matches.component.css */

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-text {
  font-size: 14px;
  color: #555;
}

/* Ajoutez un style spécifique pour l'en-tête h2 */
h2 {
  color: #007bff; /* Couleur bleue Bootstrap par défaut */
}

/* Style pour l'image du drapeau */
img.flag {
  width: 30px;
  height: 20px;
  margin-right: 8px;
}

/* Ajoutez une couleur de fond pour les colonnes */
.col-md-6 {
  background-color: #f8f9fa; /* Couleur de fond Bootstrap par défaut */
  padding: 10px;
}
