<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- teams.component.html -->
<!-- teams.component.html -->


<div  class="teams-container">
  <div class="team" (click)="navigateToPlayers(1) " *ngFor="let team of teams" (click)="showPlayers(team)" >

    <img src="assets/drapeau/Argenti.png" alt="Team 1">
    <p>Argentina
      (ARG)</p>
  </div>



  <div class="team" (click)="navigateToPlayers(2)" >
    <img src="assets/drapeau/australie.png" alt="Team 2" >
    <p>Australia
      (AUS)</p>
  </div>

  <div class="team" (click)="navigateToPlayers(3)">
    <img src="assets/drapeau/Belgium.png" alt="Team 3" >
    <p>Belgium
      (BEL)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(4)">
    <img src="assets/drapeau/brésil.images.jfif" alt="Team 4">
    <p>Brazil
      (BRA)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(5)">
    <img src="assets/drapeau/cameron.png" alt="Team 5">
    <p>Cameroon
      (CMR)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(6)">
    <img src="assets/drapeau/canada.png" alt="Team 6">
    <p>Canada
    (CAN)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(7)">
    <img src="assets/drapeau/costa rica.png" alt="Team 7">
    <p>Costa Rica
      (CRC)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(8)">
    <img src="assets/drapeau/croatia.png" alt="Team 8">
    <p>Croatia
      (CRO)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(9)">
    <img src="assets/drapeau/denmark.png" alt="Team 9">
    <p>Denmark
      (DEN)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(10)">
    <img src="assets/drapeau/ecuador.png" alt="Team 10">
    <p>Ecuador
      (ECU)</p>
  </div>

  <div class="team" (click)="navigateToPlayers(11)">
    <img src="assets/drapeau/morocco.png" alt="Team 11">
    <p>Morocco
      (MAR)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(12)">
    <img src="assets/drapeau/france.png" alt="Team 12">
    <p>France
      (FRA)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(13)">
    <img src="assets/drapeau/germany.png" alt="Team 13">
    <p>Germany
      (GER)</p>
  </div> <div class="team" (click)="navigateToPlayers(14)">
    <img src="assets/drapeau/ghana.png" alt="Team 14">
    <p>Ghana
      (GHA)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(15)">
    <img src="assets/drapeau/wales.png" alt="Team 15">
    <p>Wales
      (WAL)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(16)">
    <img src="assets/drapeau/japan.png" alt="Team 16">
    <p>Japan
      (JPN)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(17)">
    <img src="assets/drapeau/korea.png" alt="Team 17">
    <p>Korea Republic
      (KOR)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(18)">
    <img src="assets/drapeau/mexico.png" alt="Team 18">
    <p>Mexico
      (MEX)</p>
  </div>

  <div class="team" (click)="navigateToPlayers(19)">
    <img src="assets/drapeau/england.png" alt="Team 19">
    <p>England
      (ENG)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(20)">
    <img src="assets/drapeau/netherlands.png" alt="Team 20">
    <p>Netherlands
      (NED)</p>
  </div>

  <div class="team" (click)="navigateToPlayers(21)">
    <img src="assets/drapeau/pologne.png" alt="Team 21">
    <p>Poland
      (POL)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(22)">
    <img src="assets/drapeau/portugal.png" alt="Team 22">
    <p>Portugal
      (POR)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(23)">
    <img src="assets/drapeau/qatar.png" alt="Team 23">
    <p>Qatar
      (QAT)</p>
  </div> <div class="team" (click)="navigateToPlayers(24)">
    <img src="assets/drapeau/saudi.png" alt="Team 24">
    <p>Saudi Arabia
      (KSA)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(25)">
    <img src="assets/drapeau/senegal.png" alt="Team 25">
    <p>Senegal
      (SEN)</p>
  </div>

   <div class="team"  (click)="navigateToPlayers(26)">
    <img src="assets/drapeau/serbia.png" alt="Team 26">
    <p>Serbia
      (SRB)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(27)">
    <img src="assets/drapeau/espane.png" alt="Team 27">
    <p>Spain
      (ESP)</p>
  </div>
   <div class="team" (click)="navigateToPlayers(28)">
    <img src="assets/drapeau/switzerland.png" alt="Team 28">
    <p>Switzerland
      (SUI)</p>
  </div> <div class="team" (click)="navigateToPlayers(29)">
    <img src="assets/drapeau/tunisia.png" alt="Team 29">
    <p>Tunisia
      (TUN)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(30)">
    <img src="assets/drapeau/US.png" alt="Team 30">
    <p>United States
      (USA)</p>
  </div>
  <div class="team" (click)="navigateToPlayers(31)">
    <img src="assets/drapeau/uru.png" alt="Team 31">
    <p>Uruguay
      (URU)</p>
  </div>

  <div class="team"  (click)="navigateToPlayers(32)">
    <img src="assets/drapeau/iran.png" alt="Team 32">
    <p>IR Iran
      (IRN)</p>
  </div>
</div>

  <!-- Ajoutez d'autres équipes de la même manière -->

<!-- Affichage des joueurs -->

<app-footer></app-footer>
