
  <!-- ======= Services Section ======= -->
  <!-- <section id="services" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Services</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in
          iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

      </div>

    </div>
   </section>
  <!--    End Services Section
  <main id="main">
    <br>
    ======= About Us Section =======
    <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 content" data-aos="fade-up">
            <h3>Welcome to Visit Morocco</h3>
            <p>
              At Visit Morocco, we are passionate about showcasing the beauty, culture, and uniqueness of Morocco.
              Embark on a journey with us as we explore the rich history, vibrant traditions, and the love for soccer
              excellence.
            </p>
            <a href="#" class="about-btn">Discover More <i class="bx bx-chevron-right"></i></a>
          </div>

          <div class="col-lg-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-binoculars"></i>
                  <h4>Discover Moroccan Tourism</h4>
                  <p>Explore the charm and diversity of Morocco's tourist attractions, from historical landmarks to
                    natural
                    wonders.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-landscape"></i>
                  <h4>Explore Diverse Landscapes</h4>
                  <p>Immerse yourself in the breathtaking landscapes of Morocco, from the Sahara Desert to the majestic
                    Atlas Mountains.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-camera"></i>
                  <h4>Capture the Essence</h4>
                  <p>Experience the beauty and authenticity of Morocco through captivating images and cultural
                    experiences.
                  </p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-trophy"></i>
                  <h4>World Cup 2030 Journey</h4>
                  <p>Join us as we follow Morocco's exciting journey in the upcoming World Cup 2030. Stay tuned for
                    updates,
                    matches, and more.</p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title" data-aos="fade-in" data-aos-delay="100">
        <h2>Destination</h2>
    <p>As the host nation for the 2030 FIFA World Cup, Morocco invites football enthusiasts and travelers alike to embark on
      a journey through its mesmerizing host cities. Each destination offers a unique blend of cultural heritage, modern
      amenities, and the vibrant energy of the beautiful game. From the iconic landscapes of Casablanca to the historic
      charm of Marrakech, the bustling streets of Fes, and the coastal allure of Tangier, Morocco promises an unforgettable
      World Cup experience. Join us in celebrating the global spirit of football against the backdrop of Morocco's rich
      history and diverse landscapes.</p>

      </div>

      <div class="row" data-aos="fade-in">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/casablanca.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/chefchaoun.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/chefchaoun.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/chefchaoun.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/chefchaoun.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="assets/chefchaoun.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/chefchaoun.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="assets/chefchaoun.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="assets/chefchaoun.jpg" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section> -->
 <!-- End Portfolio Section -->
<main>
  <br>
  <br>
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>About Morocco</h2>
          <p>As the host nation for the 2030 FIFA World Cup, Morocco invites football enthusiasts and travelers alike to embark on
          a journey through its mesmerizing host cities. Each destination offers a unique blend of cultural heritage, modern
          amenities, and the vibrant energy of the beautiful game. From the iconic landscapes of Casablanca to the historic
          charm of Marrakech, the bustling streets of Fes, and the coastal allure of Tangier, Morocco promises an unforgettable
          World Cup experience. Join us in celebrating the global spirit of football against the backdrop of Morocco's rich
          history and diverse landscapes.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up">
              <div class="pic"><img src="assets/chefchaoun.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>chefchaoun</h4>
                <span>The blue miracle</span>
      <div class="social">
        <a href="discover-more-link">Discover More <i class="fas fa-arrow-right"></i></a>
      </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="150">
              <div class="pic"><img src="assets/casablanca.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Casablanca</h4>
                <span>Product Manager</span>
      <div class="social">
        <a href="discover-more-link">Discover More <i class="fas fa-arrow-right"></i></a>
      </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic"><img src="assets/tangier.jpeg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Tangier</h4>
                <span>The gate to Europe</span>
      <div class="social">
        <a href="discover-more-link">Discover More <i class="fas fa-arrow-right"></i></a>
      </div>
              </div>
            </div>
          </div>
<div class="col-lg-4 col-md-6">
  <div class="member" data-aos="fade-up" data-aos-delay="300">
    <div class="pic"><img src="assets/rabat.jpg" class="img-fluid" alt=""></div>
    <div class="member-info">
      <h4>Rabat</h4>
      <span>Rabat, the Coastal Citadel</span>
      <div class="social">
        <a href="discover-more-link">Discover More <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic"><img src="assets/kech1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Marrakech</h4>
                <span>The Red City</span>
      <div class="social">
        <a href="discover-more-link">Discover More <i class="fas fa-arrow-right"></i></a>
      </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic"><img src="assets/fes1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Fes</h4>
                <span>City of a Thousand Minarets</span>
      <div class="social">
        <a href="discover-more-link">Discover More <i class="fas fa-arrow-right"></i></a>
      </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
</main>

