<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-2">
  <nav class="navbar navbar-light">
    <div class="navbar-brand mx-4 mb-2">
      <div class="brand-text">
        <h3 class="text" style="color:  #f8f9fa;;"><i class="fa fa-hashtag me-2"></i>Visit Morocco</h3>
      </div>
    </div>

    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="ms-3">
        <!-- <h6 class="mb-0">Jhon Doe</h6> -->
        <span>Admin</span>
      </div>
    </div>
    <ul class="navbar-nav w-100">
      <li routerLink="/Clients" class="nav-item">
        <a  routerLink="/Clients" class="nav-link"><i class="fas fa-users"></i> Clients Management</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-futbol"></i>
Match</a>
        <div class="dropdown-menu bg-transparent border-0">
          <ul class="list-unstyled">
            <li routerLink="/addEquipe" class="dropdown-item"><a class="dropdown-link">Add Equipe</a></li>
            <li routerLink="/Matches" class="dropdown-item"><a class="dropdown-link">Add match</a></li>
            <li routerLink="/dashboard" class="dropdown-item"><a class="dropdown-link">Other Elements</a></li>
          </ul>
        </div>
      </li>
      <li routerLink="/dashboard" class="nav-item"><a class="nav-link"><i class="fa fa-th me-2"></i>Widgets</a></li>
      <li routerLink="/dashboard" class="nav-item"><a class="nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a></li>
      <li routerLink="/dashboard" class="nav-item"><a class="nav-link"><i class="fa fa-table me-2"></i>Tables</a></li>
      <li routerLink="/dashboard" class="nav-item"><a class="nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
        <div class="dropdown-menu bg-transparent border-0">
          <a routerLink="/dashboard" class="dropdown-item">Sign In</a>
          <a routerLink="/dashboard" class="dropdown-item">Sign Up</a>
          <a routerLink="/dashboard" class="dropdown-item">404 Error</a>
          <a routerLink="/dashboard" class="dropdown-item">Blank Page</a>
        </div>
      </li>
    </ul>
  </nav>
</div>
<!-- Sidebar End -->


